<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-7">
    <div class="field">
      <%= form.label :Group %><br>
      <%= collection_select(:team, :group_id, Group.all, :id, :name, class:"form-control") %>
    </div>
  </div>

  
<div class="col-md-7">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :team_name, :class=>"form-control" %>
  </div>
</div>

<div class="col-md-7">
  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>
</div>

<div class="col-md-7">
  <div class="field">
    <%= form.label :postion %>
    <%= form.text_field :postion, id: :team_postion, :class=>"form-control" %>
  </div>
</div>

<div class="col-md-7">
  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :team_role, :class=>"form-control" %>
  </div>
</div>

<div class="col-md-7">
  <div class="field">
    <%= form.label :statement %>
    <%= form.text_area :statement, id: :team_statement, :class=>"form-control" %>
  </div>
</div>


<div class="col-md-12">
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
</div>
<% end %>
