<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postion</th>
      <th>Role</th>
      <th>Statement</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="picha"></div>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.postion %></td>
        <td><%= team.role %></td>
        <td><%= team.statement %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="container">
  <h2 id="head">Meet the team</h2>

<br>

<%= link_to 'New Team', new_team_path %>
