<p id="notice"><%= notice %></p>
<div class="container-fluid blogs">
  <div class="pichab">
    <div class="cnt">
      <h1 id="nj">News</h1>
      <h5 id="jn">Read the latest news about our work</h5>
    </div>
  </div>
  <div class="container">
    <h2 class="hb">Our blogs</h2>
    <hr id="und">
    <div class="blogs">
      <% if @blogs.any?%>
      <div class="row boxie">
        <% @blogs.each do |blog|%>
        <div class="vb col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <%= image_tag blog.picture.url, class:"img-responsive"%><br><br>
          <%= blog.created_at.day %> <%= blog.created_at.strftime("%B")%> <%= blog.created_at.year%>
        </div>
        <div class="vbc col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3 id="nn"><%= blog.title%></h3><br>
          <p><%= blog.description%></p>
        </div>
        <hr>
        <% end %>
        <% else %>
        <h3 id="stay">No blog posts yet. Stay tuned they are coming soon</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
