<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active one">
      <h3 id="one">We draw from state of the art research, monitoring and evaluation<br> methods from a range of technical expertise</h3>
      <div id="songa">
        <%= link_to "View our Projects", projects_path, class:"btn btn-info", id:"songa"%>
      </div>
    </div>
    <div class="item two">
      <h3 id="two">We believe in working together for better through respect, fairness and inclusivity.</h3>
    </div>
    <div class="item three">
      <%= image_tag('inn.png', class:"img-responsive", id:"tatu")%>
    </div>
  </div>
</div>
<div class="container-fluid batman">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 bat1">
      <br>
      <div class="sling">
        <hr id="bn">
        <%= image_tag('innovatee.png', id:"innovate")%><br>
        <p class="icn">Innovate</p>
        <h4 class="hde">Innovating for a Safer World</h4>
      </div>
      <br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 bat">
      <br>
      <div class="sling">
        <hr id="bn">
        <%= image_tag('informate.png', id: "informate")%><br>
        <p class="icn">Informate</p>
        <h4 class="hde">Committed to People, Committed to the Future.</h4>
      </div>
      <br>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 bat2">
      <br>
      <div class="sling">
        <hr id="bn">
        <%= image_tag('transformate.png', id:"transformate")%><br>
        <p class="icn">Transformate</p>
        <h4 class="hde">Move, stretch, strengthen, and simply let go.</h4>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://images.pexels.com/photos/188023/pexels-photo-188023.jpeg?h=350&auto=compress&cs=tinysrgb" alt="batman" class="img-responsive" id="light">
    </div>
    <div class="col-md-6 ab">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADCSURBVDhP7dTBCgFRFMbxm5CFxIKVpGzsbBV5AU9haWGlsPMA8w48hPIodl7AirUF/9Pt6Mzc22SlyFe/us35OjOzmHGfSB01f8xNCxV/TKeIJc54YI5Y5EYJLpDeGKmUcYQMVWxZEyfYXrBsC1s4YIhs5Lp27tihi1dKuEJLe8TSh3bEAkEGsKUJYpnB9qoIIu9sSyM0DHlyyQraucF2RAHBsqwpJBvE5qqD/zLvR5a1sc7Rg0Q+r9hcvfOX+f449wTEcJyPEU1VbgAAAABJRU5ErkJggg=="><br>
      <h3 id="hd">Healthy and Knowledgeable
        <strong>people</strong>
        <br>
        &nbsp;&nbsp; with balanced chance of better
        <strong>life</strong>
      </h3>
      <h4 id="intro">Introducing Aura Safira Consulting</h4>
      <hr id="under"><br><br><br>

      <p>Aura Safira Consulting Limited (ASC) is a management, technology, capacity building and policy consulting company based in Nairobi Kenya with a vastly experienced and multi-disciplinary team. The management and policy professionals;
        epidemiologists, public health, data scientists and Health Informatics professionals; capacity building and data quality; and information and communications professionals form the backbone of this promising organization. Our expertise is in provision
        of technical assistance and project implementation, monitoring and evaluation, research and learning, health informatics and data science, scientific computing and information technology.
      </p>
    </div>
  </div>
  <div class="row mission-vision">
    <div class="col-md-6">
      <p>
        <span id="mission">Our Mission:</span>
        Aura Safira Consulting seeks to work with people, organizations, communities and governments to create, harness and drive sustainable positive impact through innovative, transformative, informative and actionable strategies, methods and technology.</p>
        <p><span id="vision">Our Vision: </span> To provide A healthy and knowledgeable people with fair and balanced chance at a better life.</p>
        <p>We uphold strong ethical and moral standards through honesty, trustworthiness, commitment and reliability.</p>
        <p>We believe in working together for better through respect, fairness and inclusivity.</p>
        <p>We set ourselves the highest attainable professional standards and we always endeavor to not only meet but exceed these expectations.</p>
        <br><br><br>
        <%= link_to about_us_path do%>
        <div class="more">
          <div class="container">
            <hr class="apo-juu">
            <h2 id="about-title">About.</h2>
            <p id="more-about">More about us</p>
          </div>
        </div>
        <% end %>
    </div>
    <%= %>
    <div class="container in">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="row">
          <h3 class="sc">Our core values </h3>
          <div class="col-md-6 col-sm-6 col-xs-6 int">
            <%= image_tag('integrity.png')%><br><br>
            <p class="icn">Integrity</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 coll">
            <%= image_tag('collaboration.png')%><br><br>
            <p class="icn">Collaboration</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 exe">
            <%= image_tag('excellence.png')%><br><br>
            <p class="icn">Excellence </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 inn">
            <%= image_tag('innovatee.png')%><br><br>
            <p class="icn">Innovation and<br> Communication</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container-fluid projects">
  <br>
  <h3 id="pj">Recent Projects</h3>
  <hr id="pjl"><br><br>

    <%= render 'projects/projects' %>

  </div>
  <br><br><br>
</div>
<div class="container-fluid partners">
<br>
  <h2 class="cnt">Our Partners</h2>
  <br>
  <div class="container row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-2 col-sm-2 col-xs-4">
      <a href="http://www.mn.uio.no/ifi/english/research/networks/hisp/" target="_blank">
        <%= image_tag('uio-logo.jpeg', id:"onez", alt:"Uio")%>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
      <a href="https://www.userful.com/" target="_blank">
        <%= image_tag('userful.jpg', id:"one", alt:"userful")%>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
      <a href="http://sci.uonbi.ac.ke/" target="_blank">
        <%= image_tag('uon.jpg', id:"one", alt:"Uon")%>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
      <a href="http://www.health.go.ke/" target="_blank">
        <%= image_tag('moh.jpg', id:"one", alt:"moh")%>
      </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
      <a href="http://www.kehia.org/" target="_blank">
      <%= image_tag('khia.png', id:"two", alt:"Kenya Health Informatics Association")%>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-2"></div>
  </div>
  <br><br>
</div>
