<p id="notice"><%= notice %></p>
<div class="container-fluid nyuma">
  <div class="container row">
    <p id="notice"><%= notice %></p>

  <div class="col-md-1"></div>
  <div class="fom col-md-5">
    <h1 id="kati">Contact Us</h1>
    <p>Reach out to us today and get to learn more about the services we offer</p>
  <br><br>
    <%= render 'contacts/form'%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.subject %></td>
        <td><%= contact.message %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
        <h4 class="line">Information</h4>
        <p>Visit our offices or reach us through the details below.</p>
        <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANBAMAAACAxflPAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFo/HAsAAAAQdFJOU5P8OVADKOHyaxXAcXR+pclBOf5iAAAAVUlEQVQIHWNwcVFYEOLiwODiIygoDKIVBQXFpwBpRtkAwSNA+mGJpyALiC/kLNgCpA0FEwVDgLSboKC8C5D2gOpzSRT8AuIDFYDNc3GQdgHzXbYAaQBwnBZwvuq1uwAAAABJRU5ErkJggg==">
        <strong>Location:</strong>Taj Tower, 5th Floor, Upper Hill Road, Nairobi, Kenya.</p>
        <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAqUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoTzogAAAAOdFJOUwRIIZilMoR2i2i6VA/b8SOEagAAAKNJREFUCB1jYACBKKsAMA0kBFMUYEzJAjAr2ORWh+cK4wAGBkYbBrYNkgU8hgwMLEApH6ACIC2tXl7uLVbAwC3AMNVSSSmswkhGcgLDVPMEBrVprXu2A5kGIQpiTAwMrCAmj7EbUCuYycCjBmcyqDVVaLZOYChfvXv3lN27d28vYFg5EwoWMIiXl1uVl18vLxcAamBgu7wKTIPYBoIgEgwawEwAN2gsyY4Q2pwAAAAASUVORK5CYII=">
        <strong>Postal Address:</strong> P.O. Box 16298 - 00100, Nairobi, Kenya.</p>
        <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEdwTAAAAAAAAAAAAGRg96kAAAAQdFJOUwi2wExmHjSom8vEigB3X4BhbBr1AAAAhUlEQVQIHWM4AwMHGGCsMwcYjGHAgGGKCxQoMEyFqji2gGFWDoRtpMCwVBnMPCIgwLCG0QfE3sEDZJ7pB7LY75wBMU8UnDmgewbMdHSMiXplA2JybDimKHqgHshcqnfmzIEzZ84CTYCZa7WAYQLIKCA4uoBh9m4oWMCQBgMJyO6FqASSBwCczXEm9kmGvwAAAABJRU5ErkJggg==">
        <strong>Email:</strong>  info@aurasafira.co.ke</p>
        <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFY3HCoAAAAIdFJOUwYdjH9SMD1kACnK0wAAAGNJREFUCB1tyT0OgCAUA+DyOz9xcMWoO0QPgIPOxBN4/1OYAM9Fu/RLC/xHTMSHzJF5CskMGHJzgOP1EJ6p9M206V0Re8DWQ5qAeSwW3l2domJHOygUYgOMr7QLLqqEXlPTpx5/lwZ8/6jN4gAAAABJRU5ErkJggg==">
        <strong>Phone:</strong> +254 20 440 2973</p><br>
        <h4 class="line">Working Hours</h4>
        <p><strong>Monday-Friday: </strong>8am - 5pm</p>
        <p><strong>Saturday: </strong>8am - 2pm</p>
        <p><strong>Sunday-</strong> closed</p>
