<!DOCTYPE html>
<html>
  <head>
    <title>AuraSafira</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="van">
      <nav id="main-nav" class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-nav" aria-hidden="">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-menu-hamburger">
                <span></button>
                <a class="navbar-brand page-scroll" href="/"><%= image_tag("asc.png")%></a>
              </div>
              <!-- navbar-header -->
              <div id="menu-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Home', root_path%></li>
                  <li><%= link_to 'About us', about_us_path%></li>
                  <li>
                    <a href="https://www.wrike.com/" target="_blank">Wrike</a>
                  </li>
                  <li><%= link_to 'Team', teams_path%></li>
                  <li><%= link_to 'Contact Us', contacts_path%></li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </div>
            <!-- container-fluid -->
          </nav>
        </div>

        <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
        <% end %>
        <%= yield %>
        <div class="footer">
          <div class="container row">
            <div class="col-md-6">
              <div class="content">
                <h1 id="ftheader">
                  <em>
                    <strong>ASC</strong>
                  </em>
                </h1>
                <p>Aura Safira Consulting Limited (ASC) is a management, development, technology, capacity building and policy consulting company</p>
                <p>
                  <strong>Phone Number:
                  </strong>+254 20 440 2973</p>
                <p>
                  <strong>Email:
                  </strong>info@aurasafira.co.ke</p>
                <p>
                  <strong>Website:
                  </strong>aurasafira.co.ke</p>
              </div>
            </div>
          </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <%= javascript_include_tag 'scrollreveal.min.js', 'data-turbolinks-track': 'reload' %>
      </body>
    </html>
