<!DOCTYPE html>
<html>
  <head>
    <title>AuraSafira</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Roboto+Slab|Anton|Raleway|Playfair+Display" rel="stylesheet">

  </head>

  <body>
    <div class="van">
      <nav id="main-nav" class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-nav" aria-hidden="">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-menu-hamburger">
                <span></button>
                <a class="navbar-brand page-scroll" href="/"><%= image_tag("asc.png")%></a>
              </div>
              <!-- navbar-header -->
              <div id="menu-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Home', root_path%></li>
                  <li><%= link_to 'About us', about_us_path%></li>
                  <li>
                    <%= link_to 'Projects', projects_path%>
                  </li>
                  <li><%= link_to 'Team', teams_path%></li>
                  <li><%= link_to 'Contact Us', contacts_path%></li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </div>
            <!-- container-fluid -->
          </nav>
        </div>

        <% unless flash.empty? %>
          <script type="text/javascript">
            <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
                toastr['<%= type %>']('<%= f[1] %>');
              <% end %>
            </script>
          <% end %>
          <%= yield %>
          <div class="container-fluid footer">
            <div class="p1 container row">
              <div class="icns col-md-4">
                <!-- the social icons go here -->
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-flickr"></a>
                <a href="#" class="fa fa-vimeo"></a>
                <a href="#" class="fa fa-tumblr"></a><br>
                <a href="#" class="fa fa-skype"></a>
              </div>
              <div class="col-md-4">
                <!-- the logo here -->
              </div>
              <div class="bttn col-md-4">
                <!-- the contact us button here -->
                <a class="button enquiry" href="/contacts">Make Enquiry</a>
              </div>
            </div>
            <div class="p2 row">
              <div class="col-md-6">
                <!-- the phone number -->
                <span class="pnk1">
                  <h4>+254 20 440 2973</h4>
                  <h6>Phone Number</h6>
                </span>
              </div>
              <div class="col-md-6">
                <!-- the email here -->
                <div class="pnk">
                  <h4>info@aurasafira.co.ke</h4>
                  <h6>email</h6>
                </div>
              </div>
            </div>
            <div class="p3 row"><br>
              <div class="col-md-6">
                <!-- the @ ltd part -->
                © 2017 ASC - ALL RIGHTS RESERVED.
              </div>
              <div class="l col-md-6">
                <!-- made by part -->
                <h6>Made with by
                  <span class="glyphicon glyphicon-heart"></span>
                  by
                  <a href="http://lewis-nyoike.herokuapp.com/" target="_blank">Lewis Nyoike</a>
                </h6>
              </div>
            </div>
          </div>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <%= javascript_include_tag 'scrollreveal.min.js', 'data-turbolinks-track': 'reload' %>
          </script>
        </body>
      </html>
